body {
    background-color: lightgray;
    height: auto;
}

.circle-with-text {
    width: 105px;
    height: 105px;
    border-radius: 50%;
   border: 5px solid white;
    color: white;
    font-family: Anton Regular;
    text-align: center;
margin: 2em;
}


.smcircle {
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-family: Anton Regular;

}


.navbar-brand {
    height: 105px;
    width: 105px;
}

.card-body {
    background-color: lightgray;
}

/*}*/

/*.d-none*/

/*!*.d-lg-block{*!*/
/*!*    width: 440px;*!*/
/*!*}*!*/
/*!*`md` applies to small devices (landscape phones, less than 768px)*!*/
/*@media (max-width: 767.98px) {*/


/*}*/

/*// `lg` applies to medium devices (tablets, less than 992px)*!*!*/
/*@media (max-width: 991.98px) {*/


/*}*/

/*// `xl` applies to large devices (desktops, less than 1200px)*!*!*/
/*@media (max-width: 1199.98px) {*/


/*}*/

/*// `xxl` applies to x-large devices (large desktops, less than 1400px)*!*!*/
/*@media (max-width: 1399.98px) {*/


/*}*/